@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --main-bg-color: #E7F6FF;
  --text-color: white;
  --error-color: #E7F6FF;
  --shadow-color: rgba(0, 123, 255, 0.3); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.container {
  position: relative;
  width: 90%;
  max-width: 470px;
  background-image: url(images/Cloudy.svg);
  background-size: cover;
  color: var(--text-color);
  margin: 10px auto 0;
  border-radius: 2rem;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 4px 20px var(--shadow-color); 
}

.search-box {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--text-color);
  outline: none;
  border-radius: 2rem;
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 50px 0 40px;
}

.search-box input::placeholder {
  color: var(--text-color);
}

.search-box button {
  position: absolute;
  right: 8px;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: 0;
  color: var(--text-color);
  padding: 0 40px 0 5px;
  cursor: pointer;
}

.search-box > i {
  position: absolute;
  left: 16px;
}

.weather-icon {
  width: 180px;
  margin-top: 10px;
}

.weather h1 {
  font-size: 4em;
  font-weight: 500;
}

.weather h2 {
  font-size: 2.75em;
  font-weight: 400;
}

.weather h3 {
  text-transform: capitalize;
  font-style: italic;
  margin: 0 auto 10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-top: 25px;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col p:nth-of-type(2),
.weather .temp,
.weather .city {
  font-weight: bold;
}

.col img {
  max-width: 72px;
}

.humidity,
.wind,
.feels_like {
  font-size: 1.5rem;
}

.weather {
  display: none;
}

.error {
  text-align: center;
  margin: auto;
  font-size: 16px;
  margin-top: 16px;
  color: var(--error-color);
  font-weight: bold;
  display: none;
}

@media screen and (max-width: 480px) {
  .details {
    padding: 1px;
    gap: 10px;
  }

  .col {
    margin-bottom: 10px;
  }

  .col p {
    font-size: 1rem;
  }
}
